/**{  
    color:lime;
}
p{
    color:aqua
}
#title-1{
    color:aqua;
}
[id]{
    color:blue;
}
.bg-yellow{
    color:yellowgreen
}
[id], #title-1{
    color:navy;
}
[href*="www.yahoo"]{
    color:plum;
}
[class^="title"]{
    color: brown;
}
[href$=".com"]{
    color:tomato;
}
[class|="title"]{
    color:cadetblue
}
[href*="127"]{
    background-color: darkorchid;
}
[href^="http"] {
    background-color: orchid;
}
a, p , h1{
    background-color: darkgoldenrod;
}
main p{
    background-color: aquamarine;
}
h1 + p{
    background-color: red;
}
h1 ~ *{
    background-color: magenta;
}*/
main > *{
    background-color: pink;
}
