*{
    background-color: bisque;
}
div{
    
    background-color: lightgray;
    margin: 50px 400px;
    border: solid black 1px;
    padding: 5px;
}
.center{
    text-align: center;
}
.left{
    text-align: right;
}