*{
    background-color: orange;
}
.columnas p{
    column-count: 3;
    column-gap: 40px;
    column-rule: 2px solid red;
}
span:hover{
    color:hotpink;
    cursor : pointer;
    
}
p::selection{
    color: white;
    background-color: black;
    cursor: pointer;
}